<section class="amenities">
    <h2 class="amenities-title visually-hidden">Amenities</h2>
        <ul class="amenities-list">
            <li class="amenities-list-item">General Amenities &amp; Facilities:
            <ul class="amenities-sub-list">
                <li class="amenities-sub-item">24-hour front desk service</li>
                <li class="amenities-sub-item">Daily housekeeping</li>
                <li class="amenities-sub-item">Free Wi-Fi throughout the hotel</li>
                <li class="amenities-sub-item">Elevator access</li>
                <li class="amenities-sub-item">Luggage storage</li>
                <li class="amenities-sub-item">Non-smoking rooms available</li>
                <li class="amenities-sub-item">Meeting rooms for business and events</li>
                <li class="amenities-sub-item">On-site parking (surcharge)</li>
                <li class="amenities-sub-item">Concierge services</li>
            </ul>
            </li>
            <li class="amenities-list-item">Bathroom:
            <ul class="amenities-sub-list">
                <li class="amenities-sub-item">Private bathroom with shower</li>
                <li class="amenities-sub-item">Complimentary toiletries</li>
                <li class="amenities-sub-item">Hair dryer</li>
                <li class="amenities-sub-item">Fresh towels daily</li>
                <li class="amenities-sub-item">Deluxe bathrobes (in some room categories)</li>
            </ul>
            </li>
            <li class="amenities-list-item">Bedroom:
            <ul class="amenities-sub-list">
                <li class="amenities-sub-item">Comfortable beds with high-quality linens</li>
                <li class="amenities-sub-item">Blackout curtains</li>
                <li class="amenities-sub-item">Climate control (air conditioning and heating)</li>
                <li class="amenities-sub-item">Safe for valuables</li>
                <li class="amenities-sub-item">Writing desk and chair</li>
                <li class="amenities-sub-item">Flat-screen TV with cable channels</li>
            </ul>
            </li>
            <li class="amenities-list-item">Kitchen:
            <ul class="amenities-sub-list">
                <li class="amenities-sub-item">In-room kitchenette (in some room categories)</li>
                <li class="amenities-sub-item">Refrigerator</li>
                <li class="amenities-sub-item">Microwave</li>
                <li class="amenities-sub-item">Electric kettle</li>
                <li class="amenities-sub-item">Cooking utensils and cutlery</li>
                <li class="amenities-sub-item">Dining table and chairs</li>
            </ul>
            </li>
            <li class="amenities-list-item">Media:
            <ul class="amenities-sub-list">
                <li class="amenities-sub-item">Flat-screen TV with cable channels</li>
                <li class="amenities-sub-item">High-speed Wi-Fi</li>
                <li class="amenities-sub-item">iPod docking station</li>
                <li class="amenities-sub-item">Speaker system</li>
                <li class="amenities-sub-item">Electrical outlets for charging devices.</li>
            </ul>
            </li>
        </ul> 
<div class="wrap-bottom wrap-bottom-position">
    <div class="amenities-wrap-picture">
        <picture>
            <source srcset="../../../img/desktop/1x/room/room-img-1.jpg 1x, ../../../img/desktop/2x/room-2x/room-img-1-2x.jpg 2x" media="(min-width: 1200px)"/>
            <source srcset="../../../img/tablet/1x/room/room-img-1.jpg 1x, ../../../img/tablet/2x/room-2x/room-img-1-2x.jpg 2x" media="(min-width: 768px)"/>
            <source srcset="../../../img/mob/1x/room/room-img-1.jpg 1x, ../../../img/mob/2x/room-2x/room-img-1-2x.jpg 2x" media="(min-width: 320px)"/>
            <img class="img-care-products" src="../../../img/mob/1x/room/room-img-1.jpg" alt="Сare products">
        </picture>
        <picture>
            <source srcset="../../../img/desktop/1x/room/room-img-2.jpg 1x, ../../../img/desktop/2x/room-2x/room-img-2-2x.jpg 2x" media="(min-width: 1200px)"/>
            <source srcset="../../../img/tablet/1x/room/room-img-2.jpg 1x, ../../../img/tablet/2x/room-2x/room-img-2-2x.jpg 2x" media="(min-width: 768px)"/>
            <source srcset="../../../img/mob/1x/room/room-img-2.jpg 1x, ../../../img/mob/2x/room-2x/room-img-2-2x.jpg 2x" media="(min-width: 320px)"/>
            <img class="img-bathroom" src="../../../img/mob/1x/room/room-img-2.jpg" alt="Example of a bathroom">
        </picture>
        </div>
    <button class="amenities-btn" type="submit"> Book a room
    </button>
    </div>
        

</section>
