
  <section class="hero-room">
    <div class="hero-room-section">
    <div class="hero-room-txt">
    <h1 class="hero-room-text" >DOUBLE <span class="hero-room-styl"> LUXURY</span> ROOM</h1>
    <button class="hero-room-btn">View prices</button>
    
    
    </div>
  <div class="room-vector">
    <ul class=" hero-room-img">
        <li class="room-img" > 
   <picture>
                    <source media="(min-width: 1440px)" 
                    srcset="
              ./img/desktop/1x/room/room-slide-1.jpg 1x,
              ./img/desktop/2x/room-2x/room-slide-1-2x.jpg 2x
            ">
                    <source media="(min-width: 768px)" 
                    srcset="
              ./img/tablet/1x/room/room-slide-1.jpg 1x,
              ./img/tablet/2x/room-2x/room-slide-1-2x.jpg 2x
            ">
                    <source media="(max-width: 767px)" 
                    srcset="
              ./img/mob/1x/room/room-slide-1.jpg 1x,
              ./img/mob/2x/room-2x/room-slide-1-2x.jpg 2x
            ">
                    <img src="./img/room-hero.img/imagesm@1x.jpg 1x "
                     alt="room">
                </picture>
        </li>
        <li class="" > 
          <picture>
                    <source media="(min-width: 1440px)" 
                    srcset="
              ./img/desktop/1x/room/room-slide-2.jpg 1x,
              ./img/desktop/2x/room-2x/room-slide-2-2x.jpg 2x
            ">
                    <source media="(min-width: 768px)" 
                    srcset="
              ./img/tablet/1x/room/room-slide-2.jpg 1x,
              ./img/tablet/2x/room-2x/room-slide-2-2x.jpg 2x
            ">
                    <source media="(max-width: 767px)" 
                    srcset="
              ./img/mob/1x/room/room-slide-.jpg 1x,
              ./img/mob/2x/room-2x/room-slide-2-2x.jpg 2x
            ">
                    <img src="./img/room-hero.img/imagesm1@1x.jpg 1x "
                     alt="room">
                </picture>
          </li>
    </ul>
    <div class="room-list-button">
      <button class="room-button"><svg  width="7" height="14">
                <use class="room-icon" href="" ></use>
              </svg></button>
      <button class="room-button"><svg width="7" height="14">
                <use class="room-icon" href=""  ></use>
              </svg></button>
    </div>
    </div>
    </div>
    <p class="hero-room-sub" >The Mimino hotel features spacious and stylish  luxury rooms with modern amenities for a comfortable stay.</p>
    </section>