

<section class="hero-rest">
  <div class="container hero-wrap room-hero">
    <div class="title-wrap">
      <h1 class="hero-room-text">DOUBLE <span class="hero-room-styl"> LUXURY</span> ROOM</h1>
          <div class="hero-room-btn"><a href="#" class="js-open-modal" data-modal="3">View prices</a></div>
    

    <div class="section rest-hero-section">
      <div class="slider">
        <div class="slider-line">
          <picture>
            <source
              srcset="
                ./img/slide/1x/desk-slide/image-9-min.jpg    1x,
                ./img/slide/2x/desk-slide-2x/image-9-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/slide/1x/tab-slide/image-9-min.jpg    1x,
                ./img/slide/2x/tab-slide-2x/image-9-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/slide/1x/mob-slide/image-9-min.jpg    1x,
                ./img/slide/2x/mob-slide-2x/image-9-min.jpg
              "
              media="(max-width:767px)"
            />
            <img
              class="slide"
              src="./img/slide/1x/desk-slide/image-9-min.jpg"
              alt=""
            />
          </picture>
          <picture>
            <source
              srcset="
                ./img/slide/1x/desk-slide/image-10-min.jpg    1x,
                ./img/slide/2x/desk-slide-2x/image-10-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/slide/1x/tab-slide/image-10-min.jpg    1x,
                ./img/slide/2x/tab-slide-2x/image-10-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/slide/1x/mob-slide/image-10-min.jpg    1x,
                ./img/slide/2x/mob-slide-2x/image-10-min.jpg
              "
              media="(max-width:767px)"
            />
            <img
              class="slide"
              src="./img/slide/1x/desk-slide/image-10-min.jpg"
              alt=""
            />
          </picture>
          <picture>
            <source
              srcset="
                ./img/slide/1x/desk-slide/image-11-min.jpg    1x,
                ./img/slide/2x/desk-slide-2x/image-11-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/slide/1x/tab-slide/image-11-min.jpg    1x,
                ./img/slide/2x/tab-slide-2x/image-11-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/slide/1x/mob-slide/image-11-min.jpg    1x,
                ./img/slide/2x/mob-slide-2x/image-11-min.jpg
              "
              media="(max-width:767px)"
            />
            <img
              class="slide"
              src="./img/slide/1x/desk-slide/image-11-min.jpg"
              alt=""
            />
          </picture>
          <picture>
            <source
              srcset="
                ./img/slide/1x/desk-slide/image-12-min.jpg    1x,
                ./img/slide/2x/desk-slide-2x/image-12-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/slide/1x/tab-slide/image-12-min.jpg    1x,
                ./img/slide/2x/tab-slide-2x/image-12-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/slide/1x/mob-slide/image-12-min.jpg    1x,
                ./img/slide/2x/mob-slide-2x/image-12-min.jpg
              "
              media="(max-width:767px)"
            />
            <img
              class="slide"
              src="./img/slide/1x/desk-slide/image-12-min.jpg"
              alt=""
            />
          </picture>
          <picture>
            <source
              srcset="
                ./img/slide/1x/desk-slide/image-13-min.jpg    1x,
                ./img/slide/2x/desk-slide-2x/image-13-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/slide/1x/tab-slide/image-13-min.jpg    1x,
                ./img/slide/2x/tab-slide-2x/image-13-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/slide/1x/mob-slide/image-13-min.jpg    1x,
                ./img/slide/2x/mob-slide-2x/image-13-min.jpg
              "
              media="(max-width:767px)"
            />
            <img
              class="slide"
              src="./img/slide/1x/desk-slide/image-13-min.jpg"
              alt=""
            />
          </picture>
   
        </div>
      </div>
    </div>
    <p class="hero-text">
      The Mimino hotel features spacious and stylish luxury rooms with modern amenities for a
      comfortable stay.
    </p>
  </div>
</section>