.footer-menu-list {
display: none;
}

.footer-menu-item {}

.footer-menu-link {
}

.footer-logo {
display: flex;
flex-direction: column;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.18em;
text-transform: uppercase;
color: #121212;

}

.footer-logo-text {
font-weight: 400;
font-size: 8px;
line-height: 10px;
}

.footer-list {}

.header-item {}

.footer-link-svg {}

.footer-svg {}