.header {
  max-width: 100%;
  padding: 20px 0;
  background-color: #121212;
  color: #F6F6F6;
  }
  
.revers {
  background-color: #F7F7F7;
  color: #121212;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: start;
    gap: 5px;
    margin: 0;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

