.hotel-hero {
  padding-top: 40px;
  padding-bottom: 64px;
}

.hotel-hero-title {
  margin-bottom: 24px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

.hotel-hero-wrap-buttons {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.hotel-hero-btn {
  box-sizing: border-box;
  padding: 8px 18px;
  border-radius: 32px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: 0.8px solid #121212;
  color: #121212;
}

.hotel-hero-btn:is(:hover, :focus) {
  background: #121212;
  color: #f7f7f7;
}

.hotel-hero-txt {
  width: 338px;
  height: 72px;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hotel-hero {
    padding-bottom: 40px;
  }

  .hotel-hero-title {
    margin-bottom: 54px;
    font-size: 80px;
    line-height: 1;
  }

  .hotel-hero-wrap-buttons {
    margin-bottom: 54px;
    gap: 14px;
  }

  .hotel-hero-btn {
    padding: 8px 24px;
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

@media screen and (min-width: 1440px) {
  .hotel-hero {
    padding-top: 204px;
    padding-bottom: 48px;
  }

  .hotel-hero-title {
    margin-bottom: 32px;
    font-size: 90px;
    line-height: 1;
  }
  .hotel-hero-btn {
    padding: 9px 24px;
    margin-bottom: 204px;
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}
