.rest-details-content {
  margin-bottom: 32px;
}

.rest-details-container {
  position: relative;
}

.rest-details-title {
  margin-bottom: 24px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

.rest-details-text {
  width: 221px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

.rest-details-buttons {
  margin-top: 40px;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.rest-details-button {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
  padding: 8px 18px;
  border: 0.8px solid #121212;
  border-radius: 32px;
  background-color: rgba(28, 28, 28, 0);
}

.rest-details-button:hover {
    color: #fff;
    background-color: #121212;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .rest-details-content {
    margin-bottom: 80px;
    display: flex;
    gap: 32px;
  }

  .rest-details-title {
    font-size: 68px;
    line-height: 68px;
  }

  .rest-details-buttons {
    gap: 14px;
  }

  .rest-details-button {
    font-size: 14px;
    line-height: 24px;
    padding: 8px 24px;
  }

  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
      padding: 0 32px;
      margin: 0 auto;
    }

    .rest-details {
      position: relative;
    }

    .rest-details-content {
      margin-bottom: 37px;
    }

     .rest-details-title {
        margin-bottom: 0;
     }

    .rest-details-buttons {
      position: absolute;
      margin: 0;
      gap: 14px;
      top: 0;
      right: 32px;
    }

    .rest-details-button {
      font-size: 18px;
      line-height: 24px;
      padding: 9px 24px;
    }
  }
}
