* {
  margin: 0;
}

.container {
  margin: 0 auto;
}

.section {
  margin-left: 0;
}

.slick-arrow {
  width: 36px;
  height: 36px;
  background-color: transparent;
  z-index: 99;
  font-size: 0;
}

.slick-prev {
  top: 110%;
  left: 66%;
  background-image: url(../img/slide-img/prev.svg);
  opacity: 1;
}

.slick-next {
  top: 110%;
  right: 0;
  background-image: url(../img/slide-img/next.svg);
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  color: transparent;
}

.slick-next:hover,
.slick-next:focus {
  opacity: 0.7;
  background-image: url(./img/slide-img/next.svg);
}

.slick-prev:hover,
.slick-prev:focus {
  opacity: 0.7;
  background-image: url(./img/slide-img/prev.svg);
}

.slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slide {
  width: 250px;
  height: 429px;
  margin-right: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .slider {
    width: 355px;
  }

  .slick-next {
    right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

    .slick-prev {
      top: 110.5%;
      left: 66%;
    }
  
    .slick-next {
      top: 110.5%;
    }
  .slider {
    width: 736px;
  }

  .slide {
    width: 436px;
    height: 548px;
    margin-right: 32px;
  }

  .slick-prev {
    left: 600px;
  }

  .slick-next {
    right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .section {
    margin-left: 705px;
  }

  .slider {
    width: 703px;
  }

  .slide {
    width: 436px;
    height: 580px;
  }

  .slick-prev {
    left: 0;
    top: 110.5%;
  }

  .slick-next {
    right: 600px;
    top: 110.5%;
  }
}