
@media screen and (min-width: 375px) {



.container {
  padding-top: 64px;
    padding-bottom: 64px;
  }

.kitchen {
  display: flex;
    flex-direction: column;
    gap: 20px;
  }
.tab-style {
  display: flex;
  flex-direction: column;
    gap: 20px;
  }
.kitchen-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    max-width: 335px;
}

.kitchen-list {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
}
.kitchen-info {
    display: flex;
    flex-direction: column;
      gap: 24px;
  }

}
@media screen and (min-width: 768px) {

.container {
  padding-top: 80px;
    padding-bottom: 80px;
  }

.kitchen {
  display: flex;
  flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
}


.tab-style {
  display: flex;
  flex-direction: row-reverse;
    gap: 32px;

}

.kitchen-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(24/18);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000000;
}

.kitchen-list {
  display: flex;
  flex-direction: column;
    gap: 16px;
    margin-bottom: 0;
  }

.kitchen-info {
  display: flex;
  flex-direction: row;
    gap: 32px;
}
}
@media screen and (min-width: 1440px) {

  .container {
      padding-top: 100px;
      padding-bottom: 100px;
    }
.kitchen {
  display: flex;
}
.tab-style {
  display: flex;
  flex-direction: row;
  gap: 32px;
  }
.kitchen-text {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24/18);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
}
.kitchen-list {
  display: flex;
  flex-direction: row;
    gap: 32px;
    margin-bottom: 0;
  }
.kitchen-info {
  display: flex;
gap: 32px;
}
.kitchen-wrap {
  
}
}