.hero-room{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
    padding-top: 40px;
    padding-left:20px ;
    background: #F7F7F7;
}

.hero-room-text{
font-family: 'DM Sans';
font-style: normal;
width: 270;
font-weight: 400;
font-size: 40px;
line-height: calc(40/40);
letter-spacing: -0.02em;
text-transform: uppercase;

color: #121212;
margin: 0;

margin-bottom: 24px;
}



.hero-room-styl{
    font-family: 'DM Sans';
font-style: italic;
}
.hero-room-btn{
width: 117px;
height: 34px;
cursor: pointer;
border: none;

border: 0.8px solid #121212;
border-radius: 32px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: calc(18/14);
letter-spacing: -0.02em;
text-transform: uppercase;
color: #121212;
margin-bottom: 40px;
}

.hero-room-sub{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: calc(18/14);
letter-spacing: 0.05em;
text-transform: uppercase;
color: #121212;
width: 289px;
}

.hero-room-img {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 16px;
}

.room-list-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
     gap: 32px;
   
}
.room-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    width: 36px;
    height: 36px;
}
.room-icon{
    border: 2px solid rgba(18, 18, 18, 0.3);
}
@media screen and (min-width:768px){
    .hero-room{
        padding-left: 32px;
        padding-top: 40px;  
    }
    .hero-room-text{
    width: 406;
    font-size: 60px;
    line-height: calc(60/60);
    margin-bottom: 18px;
    padding-right: 200px;
}
    .hero-room-btn{
    width: 129px;
    height: 40px;
    font-size: 14px;
    line-height: calc(24/14);
    margin-bottom: 28px;
}
.hero-room-img {
    gap: 32px;
  
}
.room-list-button{
margin-bottom: 0;
}

}

@media screen and (min-width:1440px){
     .hero-room{
    display: flex;
    flex-direction: column;
   
}
    .hero-room-section{
    display: flex;
    flex-direction: row; 
    
}
.hero-room-txt{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
    .hero-room-text{
    width: 592;
    font-size: 80px;
    line-height: calc(80/80);
    margin-bottom: 18px;
    padding-right: 112px;
    margin-bottom: 32px;
    
}
    .hero-room-btn{
    width: 152px;
    height: 42px;
    font-size: 18px;
    line-height: calc(24/18);
}
.room-vector{
    display: flex;
    flex-direction: column;

}
.room-list-button{
    justify-content: flex-start
}
}
