@media screen and (min-width: 375px) {
.overlay {
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.modal {
    opacity: 0;
    visibility: hidden;
    width: 335px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    padding: 24px 24px 40px 24px;
        border-radius: 2px;
        background-color: var(--main-dark-color);
        color: var(--main-light-color);
    transition: 0.3s all;
}

.modal__title {
    font-weight: 500;
    font-size: 28px;
        line-height: calc(38/28);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.italic {
    font-style: italic;
}

.info-text {
    font-size: 8px;
    line-height: calc(12/8);
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #D8D7D7;
}

.modal-input {
    margin-bottom: 32px;
}

.modal-select,
.modal-select-3 {
    margin-bottom: 40px;
}
.table {
    margin-bottom: 0;
}

.table,
.modal-input,
.modal-select,
.modal-select-3 {
    display: flex;
    width: 287px;
        flex-flow: column wrap;
    gap: 32px;
}

.tel-wrap,
.select-wrap-price {
    order: 2;
}

.select-wrap {
    order: 1;
}

.info,
.info-select {
    display: inline-block;
    padding: 0px 0px 18px 0px;
    width: 287px;
    height: 36px;

    background-color: transparent;
    border: none;
    border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
    outline: transparent;
    color: var(--main-modal-color);

    font-weight: 500;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-left: 5px;
    margin-bottom: 8px;
}

.info::placeholder,
.info-select::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 18px;

    color: var(--main-modal-color);
}

.select-text {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: -0.02em;
    background-color: var(--main-dark-color);
        color: var(--main-light-color);
    }

.select-wrap,
.select-wrap-price,
.select-wrap-price1 {
    position: relative;
}

.select-arrow::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 10%;
    right: 5px;
    width: 20px;
    height: 20px;
    background: url(../../../../img/select-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
    width: 28px;
        height: 28px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../../img/close-mob.svg);
        background-color: transparent;
        background-position: center;
        border: transparent;
        fill: var(--main-light-color);
    cursor: pointer;
}

.js-open-modal {
    display: flex;
    justify-content: center;
}

.btn-info {
    display: flex;
    justify-content: center;
width: 235px;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: -0.02em;
    text-transform: uppercase;
color: var(--main-modal-color);
    padding: 14px 48px;
    border: 0.8px solid var(--main-modal-color);
    border-radius: 32px;
    background-color: var(--main-dark-color);
        margin: 0 auto;
        cursor: pointer;
        transition: border 0.8px solid var(--hover-time),
            color var(--hover-time) background-color var(-hover-time);
}

.btn-info:hover,
.btn-info:focus {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    border: 0.8px solid var(--main-dark-color);
}

/* .js-open-modal {
    width: 20px;
    height: 20px;
}

*/ .modal-select-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(18/16);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.select-wrap-price1 {
    display: none;
}
}


@media screen and (min-width: 768px) {

.modal {
        width: 628px;
        padding: 32px 32px 60px 32px;
    }

.italic-modal-3 {
    font-style: italic;
}
.info,
.info-select {
    display: flex;
    width: 266px;
}

.modal-input {
    margin-bottom: 40px;
}

.modal-input-table,
.modal-input-table2 {
    display: flex;
    gap: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modal-select-prices {
    display: flex;
    gap: 32px;
}

.modal-select-3 {
    display: flex;
    flex-flow: row;
}

.modal-select,
.modal-select-3 {
    margin-bottom: 80px;
}

.modal-input,
.modal-select {
    display: flex;
    width: 266px;
        flex-flow: row;
    }

.tel-wrap,
.select-wrap-price1 {
    order: 1;
}

.select-wrap,
.select-wrap-price1 {
    order: 2;
}

.modal__cross {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 32px;
    right: 32px;
    background-image: url(../../../../img/close.svg);
}

.modal__title {
    font-size: 36px;
    line-height: calc(40/36);
    margin-bottom: 60px;
}

.btn-info {
    width: 399px;
    font-size: 14px;
    line-height: calc(24/14);
    padding: 14px 133px;
}

.select-wrap-price1 {
    display: block;
}

.select-wrap-price {
    display: none;
}
}

@media screen and (min-width: 1440px) {

    .btn-info {
        width: 444px;
}

}