<section class="About-a-kitchen">
  <h2 hidden class="hidden visually-hidden">hidden features</h2>

  <div>
    <ul class="kitchen-list list">
      <li class="kitchen-link link">
        <picture>
          <source
            srcset="/src/img/mob/1x/rest/rest-cook.jpg 1x
              /src/img/mob/2x/rest-2x/rest-cook-2x.jpg 2x"
            media="(max-width: 375px)"
            sizes="335px"
          />
          <img
            src="/src/img/mob/1x/rest/rest-cook.jpg "
            alt=""
            width=""
            height=""
          />
          <source srcset="" media="(max-width: 768px)" sizes="" />
          <source srcset="" media="(max-width: 1440px)" sizes="" />
          <source srcset="" />
        </picture>
      </li>
    </ul>
  </div>
  <div>
    <ul class="kitchen-list list">
      <li class="kitchen-link link">
        <picture>
          <source srcset="" media="(max-width: 375px)" />

          <source srcset="" media="(max-width: 768px)" />

          <source srcset="" media="(max-width: 1440px)" />
          <source srcset="" />
          <img srcset="1x, 2x" src="" alt="" width="" height="" />
        </picture>
      </li>

      <li class="kitchen-link link">
        <picture>
          <source srcset="" media="(max-width: 375px)" />

          <source srcset="" media="(max-width: 768px)" />

          <source srcset="" media="(max-width: 1440px)" />
          <source srcset="" />
          <img srcset="1x, 2x" src="" alt="" width="" height="" />
        </picture>
      </li>
    </ul>
  </div>
  <div>
    <ul class="list inftab">
      <li class="link link-kitchen-inf">
        <p class="inform">
          At Mimino, we are experts in meat preparation. Our chefs use only the
          finest and freshest ingredients to create delicious dishes that
          showcase the flavors of premium cuts of meat.
        </p>
      </li>
      <li class="link link-kitchen-inf">
        <p class="inform">
          Our slow-cooking process and expert seasoning bring out the best in
          each dish, making for an unforgettable dining experience. Come taste
          the magic of meat preparation at Mimino.
        </p>
      </li>
    </ul>
  </div>
</section>
