<section>
  <h2 hidden class="hidden visually-hidden">hidden features</h2>
  <div class="container">
    <div class="kitchen">
      <div class="tab-style">
        <div class="img-cook">
          <picture>
            <source
              srcset="
                ../../../img/desktop/1x/rest/rest-cook.jpg       1x,
                ../../../img/desktop/2x/rest-2x/rest-cook-2x.jpg 2x
              "
              media=" (min-width: 1440px)"
            />

            <source
              srcset="
                ../../../img/tablet/1x/rest/rest-cook.jpg       1x,
                ../../../img/tablet/2x/rest-2x/rest-cook-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ../../../img/mob/1x/rest/rest-cook.jpg       1x,
                ../../../img/mob/2x/rest-2x/rest-cook-2x.jpg 2x
              "
              media="(min-width: 375px)"
            />

            <img
              src="../../../img/desktop/1x/rest/rest-cook.jpg "
              alt="cook"
              width="511"
              height="598"
            />
          </picture>
        </div>

        <ul class="kitchen-list list">
          <li class="kitchen-item link">
            <picture>
              <source
                srcset="
                  ../../../img/desktop/1x/rest/rest-meat.jpg       1x,
                  ../../../img/desktop/2x/rest-2x/rest-meat-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../../../img/tablet/1x/rest/rest-meat.jpg       1x,
                  ../../../img/tablet/2x/rest-2x/rest-meat-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../../../img/mob/1x/rest/rest-meat.jpg       1x,
                  ../../../img/mob/2x/rest-2x/rest-meat-2x.jpg 2x
                "
                media="(min-width: 375px)"
              />

              <img
                src="../../../img/desktop/1x/rest/rest-meat.jpg"
                alt="drink"
                width="334"
                height="389"
              />
            </picture>
          </li>
          <li class="kitchen-item link">
            <picture>
              <source
                srcset="
                  ../../../img/desktop/1x/rest/rest-drink.jpg       1x,
                  ../../../img/desktop/2x/rest-2x/rest-drink-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ../../../img/tablet/1x/rest/rest-drink.jpg       1x,
                  ../../../img/tablet/2x/rest-2x/rest-drink-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../../../img/mob/1x/rest/rest-drink.jpg       1x,
                  ../../../img/mob/2x/rest-2x/rest-drink-2x.jpg 2x
                "
                media="(min-width: 375px)"
              />

              <img
                src="../../../img/desktop/1x/rest/rest-drink.jpg"
                alt="drink"
                width="467"
                height="389"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="kitchen-wrap">
        <ul class="kitchen-info list">
          <li class="kitchen-info-item link">
            <p class="kitchen-text mimi-siz">
              At Mimino, we are experts in m<span class="txt-italic"
                >eat preparation</span
              >. Our chefs use only the finest and freshest ingredients to
              <span class="txt-italic">create delicious dishes</span> that
              showcase the flavors of premium cuts of meat.
            </p>
          </li>
          <li class="kitchen-info-item desktop-style link">
            <p class="kitchen-text our-siz">
              Our <span class="txt-italic">slow-cooking process</span> and
              expert seasoning bring out the best in each dish, making for an
              unforgettable dining experience. Come taste the magic
              <span class="txt-italic">of meat preparation at</span> Mimino.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
