
    <section class="hero">
      <div class="container hero-wrap">
        <div class="title-wrap">
          <h1 class="hero-title">restaurant</h1>
          <div class="rest-hero-btns">
            <button class="hero-btn" type="button">
              <a href="#" class="js-open-modal" data-modal="1">book a table</a>
            </button>
            <a href="./restaurant.html" class="hero-btn">view the menu</a>
          </div>
        </div>
        <div class="section rest-hero-section">
          <div class="slider">
            <div class="slider-line">
              <picture>
                <source
                  srcset="
                    ./img/slide/1x/desk-slide/image-3-min.jpg    1x,
                    ./img/slide/2x/desk-slide-2x/image-3-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/tab-slide/image-3-min.jpg    1x,
                    ./img/slide/2x/tab-slide-2x/image-3-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/mob-slide/image-3-min.jpg    1x,
                    ./img/slide/2x/mob-slide-2x/image-3-min.jpg
                  "
                  media="(max-width:767px)"
                />

                <img
                  class="slide"
                  src="./img/slide/1x/desk-slide/image-3-min.jpg"
                  alt=""
                />
              </picture>
              <picture>
                <source
                  srcset="
                    ./img/slide/1x/desk-slide/image-4-min.jpg    1x,
                    ./img/slide/2x/desk-slide-2x/image-4-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/tab-slide/image-4-min.jpg    1x,
                    ./img/slide/2x/tab-slide-2x/image-4-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/mob-slide/image-4-min.jpg    1x,
                    ./img/slide/2x/mob-slide-2x/image-4-min.jpg
                  "
                  media="(max-width:767px)"
                />

                <img
                  class="slide"
                  src="./img/slide/1x/desk-slide/image-4-min.jpg"
                  alt=""
                />
              </picture>
              <picture>
                <source
                  srcset="
                    ./img/slide/1x/desk-slide/image-5-min.jpg    1x,
                    ./img/slide/2x/desk-slide-2x/image-5-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/tab-slide/image-5-min.jpg    1x,
                    ./img/slide/2x/tab-slide-2x/image-5-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/mob-slide/image-5-min.jpg    1x,
                    ./img/slide/2x/mob-slide-2x/image-5-min.jpg
                  "
                  media="(max-width:767px)"
                />

                <img
                  class="slide"
                  src="./img/slide/1x/desk-slide/image-5-min.jpg"
                  alt=""
                />
              </picture>
              <picture>
                <source
                  srcset="
                    ./img/slide/1x/desk-slide/image-6-min.jpg    1x,
                    ./img/slide/2x/desk-slide-2x/image-6-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/tab-slide/image-6-min.jpg    1x,
                    ./img/slide/2x/tab-slide-2x/image-6-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/mob-slide/image-6-min.jpg    1x,
                    ./img/slide/2x/mob-slide-2x/image-6-min.jpg
                  "
                  media="(max-width:767px)"
                />

                <img
                  class="slide"
                  src="./img/slide/1x/desk-slide/image-6-min.jpg"
                  alt=""
                />
              </picture>
              <picture>
                <source
                  srcset="
                    ./img/slide/1x/desk-slide/image-7-min.jpg    1x,
                    ./img/slide/2x/desk-slide-2x/image-7-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/tab-slide/image-7-min.jpg    1x,
                    ./img/slide/2x/tab-slide-2x/image-7-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/mob-slide/image-7-min.jpg    1x,
                    ./img/slide/2x/mob-slide-2x/image-7-min.jpg
                  "
                  media="(max-width:767px)"
                />

                <img
                  class="slide"
                  src="./img/slide/1x/desk-slide/image-7-min.jpg"
                  alt=""
                />
              </picture>
              <picture>
                <source
                  srcset="
                    ./img/slide/1x/desk-slide/image-8-min.jpg    1x,
                    ./img/slide/2x/desk-slide-2x/image-8-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/tab-slide/image-8-min.jpg    1x,
                    ./img/slide/2x/tab-slide-2x/image-8-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />

                <source
                  srcset="
                    ./img/slide/1x/mob-slide/image-8-min.jpg    1x,
                    ./img/slide/2x/mob-slide-2x/image-8-min.jpg
                  "
                  media="(max-width:767px)"
                />

                <img
                  class="slide"
                  src="./img/slide/1x/desk-slide/image-8-min.jpg"
                  alt=""
                />
              </picture>
            </div>
          </div>
        </div>
        <p class="hero-text">
          Whether you're in the mood for a hearty breakfast, a light lunch, or a
          romantic dinner, our menu has something for everyone.
        </p>
      </div>
    </section>
  </div>
</section>
