<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <section class="restaurant-menu">
      <div class="container-sektion">
        <h2 class="restaurant-menu-title">Restaurant menu</h2>
        <div class="container-restaurant-menu">
          <div class="menu-hot-meals">
            <h3 class="menu-title">Hot meals</h3>
            <ul class="menu-list list">
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Veal borscht with beans</h4>
                  <p class="item-weight">400 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">
                    Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                    tomatoes, greens, sour cream
                  </p>
                  <p class="item-price">240 UAH</p>
                </div>
              </li>
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Cheese soup with chicken</h4>
                  <p class="item-weight">400 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">
                    Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                    greens
                  </p>
                  <p class="item-price">200 UAH</p>
                </div>
              </li>
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Carbonara pasta</h4>
                  <p class="item-weight">400 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">
                    Tagliatelle pasta, bacon, cream, Parmesan cheese, egg,
                    greens
                  </p>
                  <p class="item-price">430 UAH</p>
                </div>
              </li>
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Pork steak</h4>
                  <p class="item-weight">400 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">
                    Pork tenderloin, spices, served with sweet chili sauce and
                    vegetables
                  </p>
                  <p class="item-price">500 UAH</p>
                </div>
              </li>
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Gorbusha in white wine sauce</h4>
                  <p class="item-weight">400 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">
                    Tender redfish, cream sauce based on white wine
                  </p>
                  <p class="item-price">400 UAH</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="menu-dishes-snacks">
            <h3 class="menu-title">Side dishes and snacks</h3>
            <ul class="menu-list list">
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Baked vegetables</h4>
                  <p class="item-weight">200 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">
                    Zucchini, pepper, tomato, eggplant
                  </p>
                  <p class="item-price">230 UAH</p>
                </div>
              </li>
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">French fries</h4>
                  <p class="item-weight">150 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">Potatoes, tomato sauce</p>
                  <p class="item-price">160 UAN</p>
                </div>
              </li>
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Peasant-style potatoes</h4>
                  <p class="item-weight">150 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">Potatoes, spices, spicy sauces</p>
                  <p class="item-price">160 UAN</p>
                </div>
              </li>
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Crisp pickles from the barrel</h4>
                  <p class="item-weight">250 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">
                    Salted cucumber, pickled tomato, sauerkraut, Korean carrot
                  </p>
                  <p class="item-price">350 UAN</p>
                </div>
              </li>
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Chicken wings in honey sauce</h4>
                  <p class="item-weight">400 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">
                    Chicken wings, mustard-honey sauce, served with carrots,
                    celery and blue cheese sauce
                  </p>
                  <p class="item-price">-</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="menu-salads">
            <h3 class="menu-title">Salads</h3>
            <ul class="menu-list list">
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Caesar with chicken</h4>
                  <p class="item-weight">230 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">
                    Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                    croutons, Caesar sauce
                  </p>
                  <p class="item-price">450 UAH</p>
                </div>
              </li>
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Caesar with shrimp</h4>
                  <p class="item-weight">230 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">
                    Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                    croutons, caesar sauce
                  </p>
                  <p class="item-price">300 UAH</p>
                </div>
              </li>
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Greek salad</h4>
                  <p class="item-weight">230 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">
                    Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                    lettuce, sauce
                  </p>
                  <p class="item-price">280 UAH</p>
                </div>
              </li>
              <li class="menu-item">
                <div class="menu-item-center-cont-1">
                  <h4 class="menu-subtitle">Meat salad</h4>
                  <p class="item-weight">230 g</p>
                </div>
                <div class="menu-item-center-cont-2">
                  <p class="item-ingradients">-</p>
                  <p class="item-price">300 UAH</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="menu-desserts-drinks">
            <div class="menu-desserts">
              <h3 class="menu-title">Desserts</h3>
              <ul class="menu-list list">
                <li class="menu-item">
                  <div class="menu-item-center-cont-1">
                    <h4 class="menu-subtitle">Napoleon cake</h4>
                    <p class="item-price">200 UAH</p>
                  </div>
                </li>
                <li class="menu-item">
                  <div class="menu-item-center-cont-1">
                    <h4 class="menu-subtitle">Poppy cake</h4>
                    <p class="item-price">300 UAH</p>
                  </div>
                </li>
                <li class="menu-item">
                  <div class="menu-item-center-cont-1">
                    <h4 class="menu-subtitle">Tiramisu</h4>
                    <p class="item-price">260 UAH</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="menu-drinks">
              <h3 class="menu-title menu-title-drinks">Drinks</h3>
              <ul class="menu-list list">
                <li class="menu-item">
                  <div class="menu-item-center-cont-1">
                    <h4 class="menu-subtitle">Black/green tea</h4>
                    <p class="item-price">100 UAH</p>
                  </div>
                </li>
                <li class="menu-item">
                  <div class="menu-item-center-cont-1">
                    <h4 class="menu-subtitle">Espresso</h4>
                    <p class="item-price">100 UAH</p>
                  </div>
                </li>
                <li class="menu-item">
                  <div class="menu-item-center-cont-1">
                    <h4 class="menu-subtitle">Cappuccino</h4>
                    <p class="item-price">100 UAH</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="slaider-button">
          <button type="button" class="restaurant-menu-slaider-left">
            <svg class="button-icon-svg" width="15" height="27">
              <use href="./images/symbol-defs.svg#icon-slaider-left"></use>
            </svg>
          </button>
          <button type="button" class="restaurant-menu-slaider-right">
            <svg class="button-icon-svg" width="15" height="27">
              <use href="./images/symbol-defs.svg#icon-slaider-right"></use>
            </svg>
          </button>
        </div>
        <button type="button" class="restaurant-menu-button">
          book a table
        </button>
      </div>
    </section>
  </body>
</html>
