.hero-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0 64px;
  padding-left: 20px;
  background: #f7f7f7;
}

.hero-hotel-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
  margin-bottom: 24px;
}

.hero-hotel-buttons {
  display: flex;
  gap: 14px;
}

.hero-hotel-btn {
  padding: 8px 18px;
  border: 0.8px solid #121212;
  border-radius: 32px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

.hero-hotel-btn:hover,
.hero-hotel-btn:focus {
  background: #121212;
  border: 0.8px solid #121212;
  color: #f7f7f7;
}

.hero-hotel-sub {
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #121212;
  width: 338px;
}

.hero-hotel-img {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 16px;
}

.hotel-list-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  gap: 32px;
}

.hotel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  width: 36px;
  height: 36px;
}

.hotel-icon {
  border: 2px solid rgba(18, 18, 18, 0.3);
}

@media screen and (min-width: 768px) {
  .hero-hotel {
    padding-left: 32px;
    padding: 40px 0 120px;
  }

  .hero-hotel-title {
    font-size: 80px;
    line-height: 1;
    margin-bottom: 32px;
  }

  .hero-hotel-btn {
    font-size: 14px;
    line-height: calc(24 / 14);
    padding: 8px 24px;
    margin-bottom: 54px;
  }

  .hero-hotel-img {
    gap: 32px;
  }

  .hotel-list-button {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero-hotel {
    display: flex;
    flex-direction: column;
  }

  .hero-hotel-section {
    display: flex;
    flex-direction: row;
  }

  .hero-hotel-section {
    align-items: center;
    justify-content: center;
  }

  .hero-hotel-txt {
    margin-right: 369px;
  }

  .hero-hotel-title {
    font-size: 90px;
    line-height: 1;
    margin-bottom: 32px;
  }

  .hero-hotel-btn {
    font-size: 18px;
    line-height: calc(24 / 18);
    padding: 9px 24px;
    margin: 0;
  }

  .hotel-vector {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .hotel-list-button {
    justify-content: flex-start;
  }

  .hero-hotel-sub {
    position: absolute;
    top: 650px;
    left: 32px;
  }
}
