.triple {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 64px;
}

.room-pic {
    display: block;
    width: 100%;
    height: auto;
}

.triple__picture-block {
    display: block;
}

.triple__room {
    margin-bottom: 20px;
}

.triple__picture-set {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.triple__bath {}

.triple__kitchen {}

.triple__title {
    margin-bottom: 32px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(40 / 32);
    /* identical to box height, or 125% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: var(--main-dark-color);
}

.triple__description {
    margin-bottom: 24px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: var(--main-dark-color);
}

.triple__facilities {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18px / 14px);

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
}

.triple__data {
    margin-bottom: 28px;
}

.triple__info-button {
    padding: 8px 18px 8px 18px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    /* identical to box height, or 129% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
    background-color: transparent;
    border: 0.8px solid #121212;
    border-radius: 32px;
}

.details {
    margin-right: 14px;
}

.prices {}

/* Tablet */
@media screen and (min-width: 768px) {
    .triple__picture-block {
        display: flex;
        margin-bottom: 40px;
    }

    .triple__room {
        margin-bottom: 0px;
        margin-right: 32px;
    }

    .triple__picture-set {
        flex-wrap: wrap;
        margin-bottom: 0px;
        justify-content: flex-start;
    }

    .triple__bath {
        margin-bottom: 32px;
    }

    .triple__kitchen {}

    .triple__text {
        display: flex;
        gap: 24px;
        margin-bottom: 40px;
    }

    .triple__title {
        font-size: 40px;
        line-height: calc(44 / 40);
    }

    .triple__description {
        margin-bottom: 0px;
        width: 355px;
        font-size: 18px;
        line-height: calc(24 / 18);
    }

    .triple__facilities {
        width: 299px;
        font-size: 18px;
        line-height: calc(24 / 18);
    }

    .triple__info-button {
        line-height: calc(24 / 14);
        padding-left: 24px;
        padding-right: 24px;
    }

    .details {
        min-width: 140px;
    }

    .prices {
        min-width: 129px;
    }
}

/* Desk-Top */
@media screen and (min-width: 1440px) {
    .triple__title {
        margin-bottom: 40px;
    }

    .triple__picture-block {
        display: flex;
    }

    .triple__room {
        margin-bottom: 0px;
        margin-right: 32px;
    }

    .triple__picture-set {
        flex-wrap: wrap;
        margin-bottom: 0px;
        justify-content: flex-start;
    }

    .triple__bath {
        margin-bottom: 32px;
    }

    .triple__kitchen {}

    .triple__position {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .triple__description {}

    .triple__info-button {
        font-size: 18px;
        line-height: calc(24 / 18);
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .details {
        min-width: 166px;
    }

    .prices {
        min-width: 152px;
    }
}