<section class="about">
  <div class="container">
    <h2 class="visually-hidden">About</h2>
    <div class="about-complex">
      <div class="about-complex-images">
        <picture>
          <source
            srcset="
              ./img/desktop/1x/main/main-chair.jpg       1x,
              ./img/desktop/2x/main-2x/main-chair-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              ./img/tablet/1x/main/main-chair.jpg       1x,
              ./img/tablet/2x/main-2x/main-chair-2x.jpg 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./img/mob/1x/main/main-chair.jpg       1x,
              ./img/mob/2x/main-2x/main-chair-2x.jpg 2x
            "
            media="(max-width:767px)"
          />

          <img
            class="about-complex-img1"
            src="./img/desktop/1x/main/main-chair.jpg"
            alt=""
          />
        </picture>

        <div class="about-client-maria">
          <div>
            <img
              class="about-client-img"
              src="./img/desktop/1x/main/maria.jpg"
              alt=""
            />
          </div>
          <div>
            <h4 class="about-client-name">Maria</h4>
            <p class="about-client-text">
              give rating <span class="about-client-grade">4.5</span>
            </p>
          </div>
        </div>

        <picture>
          <source
            srcset="
              ./img/desktop/1x/main/main-bath.jpg       1x,
              ./img/desktop/2x/main-2x/main-bath-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              ./img/tablet/1x/main/main-bath.jpg       1x,
              ./img/tablet/2x/main-2x/main-bath-2x.jpg 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./img/mob/1x/main/main-bath.jpg       1x,
              ./img/mob/2x/main-2x/main-bath-2x.jpg 2x
            "
            media="(max-width:767px)"
          />

          <img
            class="about-complex-img2"
            src="./img/desktop/1x/main/main-bath.jpg"
            alt=""
          />
        </picture>
      </div>

      <div class="about-complex-content">
        <h3 class="about-subtitle about-complex-subtitle">
          Restaurant-hotel complex
        </h3>
        <p class="about-text about-complex-text1">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p class="about-text about-complex-text2">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>
    <div class="about-business">
      <div class="about-business-images">
        <picture>
          <source
            srcset="
              ./img/desktop/1x/main/main-rest-table.jpg       1x,
              ./img/desktop/2x/main-2x/main-rest-table-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              ./img/tablet/1x/main/main-rest-table.jpg       1x,
              ./img/tablet/2x/main-2x/main-rest-table-2x.jpg 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./img/mob/1x/main/main-rest-table.jpg       1x,
              ./img/mob/2x/main-2x/main-rest-table-2x.jpg 2x
            "
            media="(max-width:767px)"
          />

          <img
            class="about-business-img1"
            src="./img/desktop/1x/main/main-rest-table.jpg"
            alt=""
          />
        </picture>
        <div class="about-client-alex">
          <div>
            <img
              class="about-client-img"
              src="./img/desktop/1x/main/alex.jpg"
              alt=""
            />
          </div>
          <div>
            <h4 class="about-client-name">Alexander</h4>
            <p class="about-client-text">
              give rating <span class="about-client-grade">4.5</span>
            </p>
          </div>
        </div>
      </div>
      <div class="about-complex-content-box">
        <div class="about-business-content">
          <h3 class="about-subtitle">business class hotel</h3>
          <p class="about-text about-business-text">
            The Mimino hotel features spacious and stylish double luxury rooms
            with modern amenities for a comfortable stay.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/desktop/1x/main/main-rest-chair.jpg       1x,
              ./img/desktop/2x/main-2x/main-rest-chair-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              ./img/tablet/1x/main/rest-chair-min.jpg       1x,
              ./img/tablet/2x/main-2x/rest-chair-min-2x.jpg 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./img/mob/1x/main/main-rest-chair.jpg       1x,
              ./img/mob/2x/main-2x/main-rest-chair-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img src="./img/desktop/1x/main/main-rest-chair.jpg" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
