<section class="welcome">
  <div class="container">
    <div class="description-complex">
      <h2 class="title-section-welcome">welcome to the epitome of <span class="incline">luxury</span> and <span
          class="incline">comfort</span>
      </h2>
      <div class="description">
        <p class="description-room">
          our hotel rooms are elegantly designed with an eye for detail, ensuring
          that you have everything you need for a relaxing and rejuvenating stay.
        </p>
        <p class="description-room description-room-1">
          each room is equipped with the latest amenities, including plush bedding,
          high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help you start
          your day right. Our spacious bathrooms feature luxurious toiletries and
          towels, so you can pamper yourself in complete privacy.
        </p>
      </div>
      </div>
      <div class="img-complex">
        <picture>
        <source srcset="./img/desktop/1x/main/main-chandelier.jpg 1x,
                ./img/desktop/2x/main-2x/main-chandelier-2x.jpg 2x"
                media="(min-width:1440px)" />

        <source srcset="./img/tablet/1x/main/main-chandelier.jpg 1x,
                ./img/tablet/2x/main-2x/main-chandelier-2x.jpg 2x"
                media="(min-width:768px)" />

        <source srcset="./img/mob/1x/main/main-chandelier.jpg 1x,
                ./img/mob/2x/main-2x/main-chandelier-2x.jpg 2x"
                media="(min-width:375px)" />

        <img src="./img/desktop/1x/main/main-chandelier.jpg" alt="Photo of hotel" width="672" height="599" />
        </picture>
        </div>
  </div>
</section>
