<header class="header">
  <div class="container ">
    <nav class="nav">
      <ul class="header-menu-list">
        <li class="header-menu-item"><a href="" class="header-menu-link">Home</a></li>
        <li class="header-menu-item"><a href="../hotel.html" class="header-menu-link">Hotel</a></li>
        <li class="header-menu-item"><a href="" class="header-menu-link">Restaurant</a></li>
      </ul>
      <button type="button" data-menu-open class="button-mob">
        <svg class="menu-svg" width="24px" height="16px">
          <use class="icon" href="../img/symbol-defs.svg#icon-Icon"></use>
        </svg>
      </button>
      <a href="/" class="logo">Mimino <span class="logo-text">restaurant-hotel complex</span></a>
      <ul class="header-list">
        <li class="header-item">
          <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener" class="header-link-svg">
            <svg class="header-soc-svg">
              <use href="../img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-item">
          <a href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener" class="header-link-svg">
            <svg class="header-soc-svg">
              <use href="../img/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-item">
          <a href="https://twitter.com/" target="_blank" rel="noreferrer noopener" class="header-link-svg">
            <svg class="header-soc-svg">
              <use href="../img/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        </ul>
        </nav>
  </div>
  <!--------------menu------------>
  <div class="cont-mob-manu is-hidden" data-menu>
    <div class="mob-cont">
      <div class="cont">
        <button type="button" data-menu-close class="button-mob">
          <svg class="menu-svg" width="24px" height="16px">
            <use class="" href="../img/symbol-defs.svg#icon-cross"></use>
          </svg>
        </button>
        <a href="/" class="logo">Mimino <span class="logo-text">restaurant-hotel complex</span></a>
      </div>
      <ul class="menu-list">
        <li class="menu-item"><a href="" class="menu-link">Home</a></li>
        <li class="menu-item"><a href="" class="menu-link">Hotel</a></li>
        <li class="menu-item"><a href="" class="menu-link">Restaurant</a></li>
      </ul>
      <ul class="menu-soc-list">
        <li class="menu-soc-item">
          <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener" class="header-link-svg">
            <svg class="menu-soc-svg">
              <use href="../img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="menu-soc-item">
          <a href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener" class="header-link-svg">
            <svg class="menu-soc-svg">
              <use href="../img/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="menu-soc-item">
          <a href="https://twitter.com/" target="_blank" rel="noreferrer noopener" class="header-link-svg">
            <svg class="menu-soc-svg">
              <use href="../img/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>