<section class="hero">
    <div class="container">
        <h1 class="hero-titel">mimino</h1>
        <div class="hero-cont">
            <ul class="hero-list-button">
                <li>
                    <div class="hero-button">book a room</div>
                </li>
                <li>
                    <div class="hero-button">book a table</div>
                </li>
            </ul>
            <ul class="hero-list-text">
                <li class="hero-item-text">Whether you're in the mood for a hearty breakfast, a light lunch, or a
                    romantic dinner, our menu has something for
                    everyone.</li>
                <li class="hero-item-text">At Hotel Mimino, we believe that great food should be available to everyone,
                    no matter the time of day.</li>
            </ul>
        </div>
    </div>
</section>