<section class="hero-hotel-main">
    <div class="container">
        <h1 class="hero-title-main">mimino</h1>
<div class="hero-cont-main">
    <div class="hero-list-button-main">
<div class="hero-button-main"><a href="#" class="js-open-modal" data-modal="2">book a room</a></div>
<div class="hero-button-main"><a href="#" class="js-open-modal" data-modal="1">book a table</a></div>
</div>

<ul class="hero-list-text-main">
    <li class="hero-item-text-main">Whether you're in the mood for a hearty breakfast, a light lunch, or <span
            class="text-main-it">a
            romantic</span> dinner, our menu has something for
        everyone.</li>
    <li class="hero-item-text-main">At Hotel Mimino, <span class="text-main-it">we believe</span> that great food should be
        available to everyone,
        no matter the time of day.</li>
    </ul>

</div>
    </div>
</section>