<section class="hotel-details">
<div class="container">
    <div class="book-stay">
        <h2 class="title-hotel-details">hotel</h2>
        <span class="proposition">
            <p class="proposition-hotel-details">book your stay with us now and experience the epitome of comfort and luxury
                at our hotel. we guarantee you'll be thrilled with your decision.</p>
            </span>
            </div>
<div class="tablet">
    <div class="tablet-revers">
        <div class="main-picture">
            <picture>
                <source srcset="../img/desktop/1x/main/main-hot-3.jpg 1x,
                                                                ../img/desktop/2x/main-2x/main-hot-3-2x.jpg 2x" width="420px"
                    media="(min-width:1440px)">
                <source srcset="../img/tablet/1x/main/main-hot-3.jpg 1x,
                                                                ../img/tablet/2x/main-2x/main-hot-3-2x.jpg 2x" width="320px"
                    media="(min-width:768px)">
                
                <source srcset="../img/mob/1x/main/main-hot-3.jpg 1x,
                                                                ../img/mob/2x/main-2x/main-hot-3-2x.jpg 2x" width="335px"
                    media="(min-width:375px)">
                
                <img src="../img/desktop/1x/main/main-hot-3.jpg" alt="bed" width="420" height="548" />
                </picture>
                </div>
        <div class="photo1-2">
            <ul class="hotel-details-photo">
                <li class="photo-main-hot-1">
                    <picture class="photo-1">
                        <source
                            srcset="../img/desktop/1x/main/main-hot-1.jpg 1x,
                                                                                                                    ../img/desktop/2x/main-2x/main-hot-1-2x.jpg 2x"
                            width="320px" media="(min-width:1440px)">
                        <source srcset="../img/tablet/1x/main/main-hot-1.jpg 1x,
                                                                    ../img/tablet/2x/main-2x/main-hot-1-2x.jpg 2x"
                            width="176px" media="(min-width:768px)">
        
                        <source srcset="../img/mob/1x/main/main-hot-1.jpg 1x,
                                        ../img/mob/2x/main-2x/main-hot-1-2x.jpg 2x" width="157px" media="(min-width:375px)">
        
                        <img src="../img/desktop/1x/main/main-hot-1.jpg" alt="
                                                                    hygiene products" width="320" height="260" />
                    </picture>
                </li>
                <li class="photo-main-hot-2">
                    <picture class="photo-2">
                        <source srcset="../img/desktop/1x/main/main-hot-2.jpg 1x,
                                                                                ../img/desktop/2x/main-2x/main-hot-2-2x.jpg 2x" width="320px"
                            media="(min-width:1440px)">
                        
                        <source srcset="../img/tablet/1x/main/main-hot-2.jpg 1x,
                                                                        ../img/tablet/2x/main-2x/main-hot-2-2x.jpg 2x" width="176px"
                            media="(min-width:768px)">
                        
                        
                        <source srcset="../img/mob/1x/main/main-hot-2.jpg 1x,
                                                                            ../img/mob/2x/main-2x/main-hot-2-2x.jpg 2x" width="158px"
                            media="(min-width:375px)">
                        
                        <img src="../img/desktop/1x/main/main-hot-2.jpg" alt="
                                                                        hygiene products" width="320" height="260" />
                        </picture>
                        </li>
                        </ul>
                        </div>
    </div>
    <div class="photo4-5">
        <ul class="hotel-details-photo">
            <li class="photo-main-hot-4">
                <picture class="photo-4">
    <source srcset="../img/desktop/1x/main/main-hot-4.jpg 1x,
                            ../img/desktop/2x/main-2x/main-hot-4-2x.jpg 2x" width="320px" media="(min-width:1440px)">
    
    <source srcset="../img/tablet/1x/main/main-hot-4.jpg 1x,
                        ../img/tablet/2x/main-2x/main-hot-4-2x.jpg 2x" width="176px" media="(min-width:768px)">
    
    <source srcset="../img/mob/1x/main/photo-main-hot-4.jpg 1x,
                    ../img/mob/2x/main-2x/main-hot-4-2x.jpg 2x" width="157px" media="(min-width:375px)">
    
    <img src="../img/desktop/1x/main/main-hot-4.jpg" alt="
                        hygiene products" width="320" height="260" />
    </picture>
    </li>
    <li class="photo-main-hot-5">
        <picture class="photo-5">
                    <source srcset="../img/desktop/1x/main/main-hot-5.jpg 1x,
                                                                        ../img/desktop/2x/main-2x/main-hot-5-2x.jpg 2x" width="320px"
                        media="(min-width:1440px)">
                    
                    <source srcset="../img/tablet/1x/main/main-hot-5.jpg 1x,
                                                                ../img/tablet/2x/main-2x/main-hot-5-2x.jpg 2x" width="176px"
                        media="(min-width:768px)">
                    
                    <source srcset="../img/mob/1x/main/main-hot-5.jpg 1x,
                                                                            ../img/mob/2x/main-2x/main-hot-5-2x.jpg 2x" width="157px"
                        media="(min-width:375px)">
                    
                    <img src="../img/desktop/1x/main/main-hot-5.jpg" alt="
                                                                        hygiene products" width="320" height="260" />
                    </picture>
                    </li>
                    </ul>
    </div>
</div>
<div class="button-hotel-details">
    <ul class="button-hotel-details-list">
        <li class="button-hotel-details-items">
            <button class="book-room" type="submit">
                book a room
            </button>
            </li>
            <li>
                <button class="view-room" type="button">
                    view room
                </button>
            </li>
            </ul>
</div>

    </div>
</div>
</section>