<section class="location container">
  <div class="location-adress">
  <h2 class="location-title">location</h2>
  <iframe
    class="google-map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923213744314!2d34.524357615873186!3d49.59919745621273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e0!3m2!1suk!2sua!4v1677599408341!5m2!1suk!2sua"
    width="335"
    height="384"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <div class="location-adress-phone">
  <address class="fact-adress">
ukraine, poltava, <br/> st. marshal biryuzov, 15</address>
<div class="phone-number">
  <p class="call-us">call us:</p>
<address class="telephone">
        <a class="phone-number" href="tel:0955559533">(095) 555 95 33</a>
        <a class="phone-number" href="tel:0668491089">(066) 849 10 89</a>
  </address>
  </div>
</div>
</div>
</section>
