<div class="section rest-details">
  <div class="slider-rest">
    <div class="slider-section">
      <img class="rest-slide" src="../img/test-img/image (1).jpg" alt="" />
      <img class="rest-slide" src="../img/test-img/image (2).png" alt="" />
      <img class="rest-slide" src="../img/test-img/image (3).png" alt="" />
      <img class="rest-slide" src="../img/test-img/image (4).png" alt="" />
      <img class="rest-slide" src="../img/test-img/image (5).png" alt="" />
      <img class="rest-slide" src="../img/test-img/image (1).jpg" alt="" />
      <img class="rest-slide" src="../img/test-img/image (2).png" alt="" />
      <img class="rest-slide" src="../img/test-img/image (3).png" alt="" />
      <img class="rest-slide" src="../img/test-img/image (4).png" alt="" />
      <img class="rest-slide" src="../img/test-img/image (5).png" alt="" />
    </div>
  </div>
</div>

<div class="section">
  <div class="slider">
    <div class="slider-line">
      <img class="slide" src="../img/test-img/image (1).jpg" alt="" />
      <img class="slide" src="../img/test-img/image (2).png" alt="" />
      <img class="slide" src="../img/test-img/image (3).png" alt="" />
      <img class="slide" src="../img/test-img/image (4).png" alt="" />
      <img class="slide" src="../img/test-img/image (5).png" alt="" />
    </div>
  </div>
</div>
