
<section class="rest-details">
  <div class="container rest-details-container">
    <div class="rest-details-content">
      <h2 class="rest-details-title">restaurant</h2>
      <p class="rest-details-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <div class="section rest-details">
      <div class="slider-rest">
        <div class="slider-section">
          <picture>
            <source
              srcset="
                ./img/desktop/1x/main/main-slide-1.jpg       1x,
                ./img/desktop/2x/main-2x/main-slide-1-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/tablet/1x/main/main-slide-1.jpg       1x,
                ./img/tablet/2x/main-2x/main-slide-1-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/mob/1x/main/main-slide-1.jpg       1x,
                ./img/mob/2x/main-2x/main-slide-1-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="rest-slide"
              src="./img/desktop/1x/main/slide-1.jpg"
              alt=""
            />
          </picture>

          <picture>
            <source
              srcset="
                ./img/desktop/1x/main/main-slide-4.jpg       1x,
                ./img/desktop/2x/main-2x/main-slide-4-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/tablet/1x/main/main-slide-4.jpg       1x,
                ./img/tablet/2x/main-2x/main-slide-4-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/mob/1x/main/main-slide-2.jpg       1x,
                ./img/mob/2x/main-2x/main-slide-4-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="rest-slide"
              src="./img/desktop/1x/main/slide-2.jpg"
              alt=""
            />
          </picture>

          <picture>
            <source
              srcset="

                ./img/slide/1x/desk-slide/image-15-min.jpg       1x,
                ./img/slide/2x/desk-slide-2x/image-15-min.jpg  2x

              "
              media="(min-width:1440px)"
            />
            <source
              srcset="

                ./img/slide/1x/tab-slide/image-15-min.jpg        1x,
                ./img/slide/2x/tab-slide-2x/image-15-min.jpg  2x

              "
              media="(min-width:768px)"
            />
            <source
              srcset="

                ./img/slide/1x/mob-slide/image-15-min.jpg        1x,
                ./img/slide/2x/mob-slide-2x/image-15-min.jpg

              "
              media="(max-width:767px)"
            />
            <img
              class="rest-slide"
              src="./img/slide/1x/desk-slide/image-15-min.jpg"
              alt=""
            />
          </picture>

          <picture>
            <source
              srcset="

                ./img/slide/1x/desk-slide/image-16-min.jpg       1x,
                ./img/slide/2x/desk-slide-2x/image-16-min.jpg  2x

              "
              media="(min-width:1440px)"
            />
            <source
              srcset="

                ./img/slide/1x/tab-slide/image-16-min.jpg        1x,
                ./img/slide/2x/tab-slide-2x/image-16-min.jpg  2x

              "
              media="(min-width:768px)"
            />
            <source
              srcset="

                ./img/slide/1x/mob-slide/image-16-min.jpg        1x,
                ./img/slide/2x/mob-slide-2x/image-16-min.jpg

              "
              media="(max-width:767px)"
            />
            <img
              class="rest-slide"
              src="./img/slide/1x/desk-slide/image-16-min.jpg"
              alt=""
            />
          </picture>

          <picture>
            <source
              srcset="

                ./img/slide/1x/desk-slide/image-17-min.jpg       1x,
                ./img/slide/2x/desk-slide-2x/image-17-min.jpg  2x

              "
              media="(min-width:1440px)"
            />
            <source
              srcset="

                ./img/slide/1x/tab-slide/image-17-min.jpg        1x,
                ./img/slide/2x/tab-slide-2x/image-17-min.jpg  2x

              "
              media="(min-width:768px)"
            />
            <source
              srcset="

                ./img/slide/1x/mob-slide/image-17-min.jpg        1x,
                ./img/slide/2x/mob-slide-2x/image-17-min.jpg

              "
              media="(max-width:767px)"
            />
            <img
              class="rest-slide"
              src="./img/slide/1x/desk-slide/image-17-min.jpg"
              alt=""
            />
          </picture>

          <picture>
            <source
              srcset="

                ./img/slide/1x/desk-slide/image-18-min.jpg       1x,
                ./img/slide/2x/desk-slide-2x/image-18-min.jpg  2x

              "
              media="(min-width:1440px)"
            />
            <source
              srcset="

                ./img/slide/1x/tab-slide/image-18-min.jpg        1x,
                ./img/slide/2x/tab-slide-2x/image-18-min.jpg  2x

              "
              media="(min-width:768px)"
            />
            <source
              srcset="

                ./img/slide/1x/mob-slide/image-18-min.jpg        1x,
                ./img/slide/2x/mob-slide-2x/image-18-min.jpg

              "
              media="(max-width:767px)"
            />
            <img
              class="rest-slide"
              src="./img/slide/1x/desk-slide/image-18-min.jpg"
              alt=""
            />
          </picture>

          <picture>
            <source
              srcset="

                ./img/slide/1x/desk-slide/image-19-min.jpg       1x,
                ./img/slide/2x/desk-slide-2x/image-19-min.jpg  2x

              "
              media="(min-width:1440px)"
            />
            <source
              srcset="

                ./img/slide/1x/tab-slide/image-19-min.jpg        1x,
                ./img/slide/2x/tab-slide-2x/image-19-min.jpg  2x

              "
              media="(min-width:768px)"
            />
            <source
              srcset="

                ./img/slide/1x/mob-slide/image-19-min.jpg        1x,
                ./img/slide/2x/mob-slide-2x/image-19-min.jpg

              "
              media="(max-width:767px)"
            />
            <img
              class="rest-slide"
              src="./img/slide/1x/desk-slide/image-19-min.jpg"
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="rest-details-buttons">
      <button type="button" class="rest-details-button"><a href="#" class="js-open-modal" data-modal="1">book a
          table</a></button>
      <a href="./restaurant.html" class="rest-details-button">View the menu</a>
    </div>
  </div>
</section>
