<div class="section">
  <div class="slider">
    <div class="slider-line">
      <img
        id="testmg"
        class="slide"
        src="../img/test-img/image (1).jpg"
        alt=""
      />
      <img class="slide" src="../img/test-img/image (2).png" alt="" />
      <img class="slide" src="../img/test-img/image (3).png" alt="" />
      <img class="slide" src="../img/test-img/image (4).png" alt="" />
      <img class="slide" src="../img/test-img/image (5).png" alt="" />
    </div>
  </div>
  <div class="buttons">
    <button class="button slider-prev">
      <svg class="svg" width="36" height="36">
        <use href="../img/icons.svg#icon-Vector-1"></use>
      </svg>
    </button>
    <button class="button slider-next">
      <svg class="svg" width="36" height="36">
        <use href="../img/icons.svg#icon-Vector-2"></use>
      </svg>
    </button>
  </div>
</div>
