<section class="seaters">
    <div class="container">
        <div class="four__picture-block">
            <picture class="four-img">

                <source srcset="
    ./img/desktop/1x/hotel/hotel-doub-2.jpg       1x,
    ./img/desktop/2x/hotel-2x/hotel-doub-2-2x.jpg 2x
    " media="(min-width: 1440px)" />

                <source srcset="
    ./img/tablet/1x/hotel/hotel-doub-2.jpg       1x,
    ./img/tablet/2x/hotel-2x/hotel-doub-2-2x.jpg 2x
    " media="(min-width: 768px)" />

                <source srcset="
    ./img/mob/1x/hotel/hotel-doub-2.jpg       1x,
    ./img/mob/2x/hotel-2x/hotel-doub-2-2x.jpg 2x
    " media="(max-width: 767px)" />

                <img class="seaters__room room-pic" src="./img/desktop/1x/hotel/hotel-doub-2.jpg" alt="sleeproom" />
            </picture>

            <div class="seater__picture-set">
                <picture>

                    <source srcset="
./img/desktop/1x/hotel/hotel-doub-3.jpg       1x,
./img/desktop/2x/hotel-2x/hotel-doub-3-2x.jpg 2x
" media="(min-width: 1440px)" />

                    <source srcset="
./img/tablet/1x/hotel/hotel-doub-3.jpg       1x,
./img/tablet/2x/hotel-2x/hotel-doub-3-2x.jpg 2x
" media="(min-width: 768px)" />

                    <source srcset="
./img/mob/1x/hotel/hotel-doub-3.jpg       1x,
./img/mob/2x/hotel-2x/hotel-doub-3-2x.jpg 2x
" media="(max-width: 767px)" />

                    <img class="seaters__bath room-pic" src="./img/desktop/1x/hotel/hotel-doub-3.jpg" alt="bathroom" />
                </picture>

                <picture>
                    <source srcset=" ./img/desktop/1x/hotel/hotel-doub-1.jpg 1x,
./img/desktop/2x/hotel-2x/hotel-doub-1-2x.jpg 2x " media=" (min-width: 1440px)" />

                    <source srcset="
./img/tablet/1x/hotel/hotel-doub-1.jpg       1x,
./img/tablet/2x/hotel-2x/hotel-doub-1-2x.jpg 2x
" media="(min-width: 768px)" />

                    <source srcset="
./img/mob/1x/hotel/hotel-doub-1.jpg       1x,
./img/mob/2x/hotel-2x/hotel-doub-1-2x.jpg 2x
" media="(max-width: 767px)" />

                    <img class="seaters__kitchen room-pic" src="./img/mob/1x/hotel/hotel-doub-1.jpg" alt="kitchen" />
                </picture>
            </div>
        </div>
        <div class="seaters__position">
            <div class="seaters__data">
                <h2 class="seaters__title">double luxury room</h2>
                <p class="seaters__description">
                    Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious room features a
                    comfortable bed, private
                    bathroom, flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, and
                    soundproofing ensure a peaceful
                    night's sleep.
                </p>
                <p class="triple__facilities">
                    Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable
                    stay.
                </p>
            </div>
            <div class="button-position">
                <button class="details seaters__info-button">More details</button>
                <button class="prices seaters__info-button">View prices</button>
            </div>
        </div>
    </div>
</section>