<section class="double">
  <div>
    <div class="double-picture-block">
      <div>
          <picture>
            <source
              srcset="
                ./img/desktop/1x/hotel/hotel-doub-2.jpg       1x,
                ./img/desktop/2x/hotel-2x/hotel-doub-2-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/tablet/1x/hotel/hotel-doub-2.jpg       1x,
                ./img/tablet/2x/hotel-2x/hotel-doub-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mob/1x/hotel/hotel-doub-2.jpg       1x,
                ./img/mob/2x/hotel-2x/hotel-doub-2-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="double-room room-pic"
              src="./img/desktop/1x/hotel/hotel-doub-2.jpg"
              alt="sleeproom"
            />
          </picture>
      </div>
      <div class="double-picture-set">
        <picture>
          <source
            srcset="
              ./img/desktop/1x/hotel/hotel-doub-3.jpg       1x,
              ./img/desktop/2x/hotel-2x/hotel-doub-3-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/tablet/1x/hotel/hotel-doub-3.jpg       1x,
              ./img/tablet/2x/hotel-2x/hotel-doub-3-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mob/1x/hotel/hotel-doub-3.jpg       1x,
              ./img/mob/2x/hotel-2x/hotel-doub-3-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="double-bath room-pic"
            src="./img/desktop/1x/hotel/hotel-doub-3.jpg"
            alt="bathroom"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./img/desktop/1x/hotel/hotel-doub-1.jpg       1x,
              ./img/desktop/2x/hotel-2x/hotel-doub-1-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/tablet/1x/hotel/hotel-doub-1.jpg       1x,
              ./img/tablet/2x/hotel-2x/hotel-doub-1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mob/1x/hotel/hotel-doub-1.jpg       1x,
              ./img/mob/2x/hotel-2x/hotel-doub-1-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="double-kitchen room-pic"
            src="./img/desktop/1x/hotel/hotel-doub-1.jpg "
            alt="kitchen"
          />
        </picture>
      </div>
    </div>
    <div class="double-position">
      <div class="double-data">
        <h2 class="double-title">double luxury Room</h2>
        <div class="double-text-wrap">
          <p class="double-txt">
            Experience luxury in our Double Luxury Room at Mimino Hotel. This
            spacious room features a comfortable bed, private bathroom,
            flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
            curtains, and soundproofing ensure a peaceful night's sleep.
          </p>
          <p class="double-txt-2">
            Relax after a busy day at the writing desk or armchair. Book now for
            a convenient and comfortable stay.
          </p>
        </div>
      </div>
      <div class="double-buttons">
        <button class="details double-info-button">More details</button>
        <button class="prices double-info-button">View prices</button>
      </div>
    </div>
  </div>
</section>
