<section class="seaters">
  <div class="container">
    <div class="seaters__pic">
      <picture class="seaters__room">
        <source
          srcset="
            ./img/desktop/1x/hotel/hotel-four-2.jpg       1x,
            ./img/desktop/2x/hotel-2x/hotel-four-2-2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/tablet/1x/hotel/hotel-four-2.jpg       1x,
            ./img/tablet/2x/hotel-2x/hotel-four-2-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/mob/1x/hotel/hotel-four-2.jpg       1x,
            ./img/mob/2x/hotel-2x/hotel-four-2-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img class="room-pic" src="./images/collegue1-270.jpg" alt="Спальня" />
      </picture>
      <div class="seater__picture-set">
        <picture class="seaters__bath">
          <source
            srcset="
              ./img/desktop/1x/hotel/hotel-four-3.jpg       1x,
              ./img/desktop/2x/hotel-2x/hotel-four-3-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/tablet/1x/hotel/hotel-four-3.jpg       1x,
              ./img/tablet/2x/hotel-2x/hotel-four-3-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mob/1x/hotel/hotel-four-3.jpg       1x,
              ./img/mob/2x/hotel-2x/hotel-four-3-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="room-pic"
            src="./images/collegue1-270.jpg"
            alt="Ванна кімната"
          />
        </picture>
        <picture class="seaters__kitchen">
          <source
            srcset="
              ./img/desktop/1x/hotel/hotel-four-1.jpg       1x,
              ./img/desktop/2x/hotel-2x/hotel-four-1-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/tablet/1x/hotel/hotel-four-1.jpg       1x,
              ./img/tablet/2x/hotel-2x/hotel-four-1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mob/1x/hotel/hotel-four-1.jpg       1x,
              ./img/mob/2x/hotel-2x/hotel-four-1-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="room-pic" src="./images/collegue1-270.jpg" alt="Кухня" />
        </picture>
      </div>
    </div>
    <div class="seaters__position">
      <div class="seaters__data">
        <h2 class="seaters__title">Four-seater room</h2>
        <p class="seaters__description">
          Our 4-person room is perfect for small groups, offering comfort and
          convenience with 4 comfortable beds, ample storage, flat-screen TV,
          mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
          and soundproof walls. Book now for a memorable stay.
        </p>
      </div>
      <div class="button-position">
        <button class="details seaters__info-button">More details</button>
        <button class="prices seaters__info-button">View prices</button>
      </div>
    </div>
  </div>
</section>
