<section class="hero-hotel">
  <div class="container">
    <div class="hero-hotel-section">
      <div class="hero-hotel-txt">
        <div class="hero-title-btn-wrap">
          <h1 class="hero-hotel-title">hotel</h1>
          <div class="hero-hotel-buttons">
            <button class="hero-hotel-btn">book a room</button>
            <button class="hero-hotel-btn">view prices</button>
          </div>
        </div >
        <div class="slider">

        </div>
      </div>
    </div>
    <p class="hero-hotel-sub">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>
  </div>
</section>